{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login_page _flex">
        <form method="post" class="login_form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Вы авторизованы как {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Войти в систему</h1>

            <div class="form__line">
                <div class="form__field">
                    <input type="text" id="username" value="{{ last_username }}" name="_username" placeholder="Email*" autocomplete="email" class="form__input form-control" required autofocus>
                </div>
            </div>
            <div class="form__line">
                <div class="form__field">
                    <input type="password" data-validate="name" value="" name="_password" id="password" placeholder="Пароль*" class="form__input form-control" autocomplete="current-password" required> 
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
            #}
                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Запомнить меня</label>
                </div>
            

            <div class="form__submit form__submit_center">
                <button type="submit" class="btn-green form__submit-btn">Войти</button>
            </div>

            <div>Нет аккаунта? <a href="{{ path('app_register') }}" class="register_link">Регистрация</a></div>
        </form>
    </div>
{% endblock %}
